<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">

<head>
<title>WebBank Banco de LOSTA</title>
<meta charset="UTF-8">
<link href="css/WebBank.css" rel="stylesheet">


</head>
<body>

	<div class="grid-container">

		<div class="title">
			<h1>BANCO de LOSTA</h1>
		</div>

		<div class="header2">
			<h2>Losta Monetas</h2>
		</div>

		<div class="text1">
			<p>Futschi Kato</p>

			<p>Olla</p>
		</div>

		<div class="auswahl">
			<p>Welche Action soll ausgeführt werden: Bitte Button drücken!</p>

			<script src="js/WebBank.js" type="module"> </script>

			<button id="showtransactions" type="button">alle Überweisungen anzeigen</button>
			<br>
			
			<a href="/wizard">Add a new wizard !</a>

<br><br>

<table>

    <thead>

    <tr>

        <th>Id</th>

        <th>First name</th>

        <th>Last name</th>

        <th>Birthday</th>

        <th>Birth place</th>

        <th>Biography</th>

        <th>Muggle</th>

        <th></th>

        <th></th>

    </tr>

    </thead>

    <tbody>

    <tr th:each="transaction : ${transactions}">

        <td th:text="${transaction.id}">id</td>

        <td th:text="${transaction.receiver_ID}">Name</td>

        <td th:text="${transaction.iban_ID}">IBAN</td>

        <td th:text="${transaction.amount}">Summe</td>

        <td th:text="${transaction.purpose}">Verwendungszweck</td>

        <td th:text="${transaction.date}">Datum</td>

        <td><a th:href="@{/transaction(id=${transaction.id})}">Edit</a></td>

        <td><a th:href="@{/transaction/delete(id=${transaction.id})}">Remove</a></td>

    </tr>
        </tbody>

</table>
			
			<br>
			<button id="showtransaction" type="button">eine Überweisung anzeigen</button>
			<br>
			<br>
			<p>Receiver</p>
			<input id="receiver" type="text" value=""><br>
			<p>IBAN</p>
			<input id="iban" type="text" value=""><br>
			<p>BIC</p>
			<input id="bic" type="text" value=""><br>
			<p>Amount</p>
			<input id="amount" type="text" value=""><br>
			<p>Purpose</p>
			<input id="purpose" type="text" value=""><br>
			<br>

			<button id="addtransaction" type="button">überweisen</button>
			<br>
			<br>
		</div>

		<div class="feadline">
			<p>bei Fragen bitte eine Mail an Niemanden:</p>
			<a href="mailto:niemanden@banane.org">hiermit senden Sie eine
				E-Mail an Niemanden</a>
		</div>
	</div>

</body>